name: Flutter CI + Firebase App Distribution - Weather App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test-distribute:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.6
          channel: stable

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: flutter pub get

      # 4️⃣ Build APK (Release)
      - name: Build APK
        run: flutter build apk --release

      # 5️⃣ Upload APK as Artifact (تحميله من GitHub)
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk

      # 6️⃣ Install Firebase CLI
      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      # 7️⃣ Distribute to Firebase App Distribution
      - name: Distribute to Firebase App Distribution
        run: |
          firebase appdistribution:distribute build/app/outputs/flutter-apk/app-release.apk \
            --app 1:1013606804464:android:8c5881b01983ab82fc4b35 \
            --groups "testers" \
            --token ${{ secrets.FIREBASE_TOKEN }}
